<?xml version="1.0" encoding="utf-8"?>
<LanguageData>

    <EMChristmas.SettingsCategory>Expanded Materials - Christmas</EMChristmas.SettingsCategory>

    <EMChristmas.ChristmasDate>Christmas Period Settings</EMChristmas.ChristmasDate>
    <EMChristmas.Unlocked>Always Christmas Time</EMChristmas.Unlocked>

</LanguageData>